body{
	font-family: aspira ;
}

/* NavBar Custom */ 

.navbar{
	min-height:90px;
}
.navbar-left{
	margin-left: 30%;
	margin-top: 20px;
	font-size: 16px;
	font-weight: 300;
	font-family: aspira;
}
.navbar-right{
	margin-top: 15px;	
}
.navbar-default{
	background-color: #FFF;
	border-color: #FFF;
}
.nav>li{
	margin-right: 20px;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a{
	color: #3e3e3e;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-ms-transition:all 0.4s ease;
	transition:all 0.4s ease;
	
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	
	color:#e77e01;
}

/* End NavBar Custom */

/* Start signin form */
	
.sign-ft{
	
	width: 100%;
	background-color: #FFF;
	margin-top: 100px;
		
}
.sign-ft h1{
	font-family: arvo;
	font-size: 58px;
}

.sign-ft h1:before
{
	content:"";
	background-color:#e77e01;
	position:absolute;
	top:105px;
	left:47%;
	width:80px;
	height:3px;
}

.sign-form-ft{
	
	margin-top: 150px;
}


.login-block > input  {
    width: 80%;
    position: fixed;
    height: 42px;
    box-sizing: border-box;
    border: 1px solid #dedede;
    margin-bottom: 20px;
    font-size: 14px;
    padding: 0 20px 0 50px;
    outline: none;
}

.login-block input#username {
    background: #FFF url(../img/user.png) 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#username:focus {
    background: #FFF url(../img/user.png) 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input#password {
    background: #FFF url(../img/pw.png) 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#password:focus {
    background: #FFF url(../img/pw.png) 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid #e77e01;
}

.login-block button {
    width: 80%;
    height: 42px;
    background: #e77e01;
    box-sizing: border-box;
    border: 1px solid #e77e01;
    color: #fff;
    font-size: 16px;
	font-family: aspira;
    cursor: pointer;
    outline:none;
}

.login-block button:hover {
    background: #e77e01;
}
.login-block #checkbox{

	margin-right: 76.5%;
	width: 25px;
	height: 25px;
	border: 2px solid #e77e01;

}


.checkbox-custom {
  opacity: 0;
  position: absolute;
}
.checkbox-custom-label {
  position: relative;
}

.checkbox-custom + .checkbox-custom-label:before {
  content: '';
  background: #fff;
  border: 3px solid #e77e01;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  text-align: center;
  line-height: 1;
	cursor: pointer;
}
.checkbox-custom:checked + .checkbox-custom-label:before {
  content: "\f00c";
  font-family: 'FontAwesome';
  background: #FFF;
  color: #e77e01;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.check-box-ft{
	margin-bottom: 25px;
	margin-top: 10px;

}
.check-box-ft label{
	color: #e77e01;
	font-family: aspira;
	font-weight: 500;
	display: inline-block;
	cursor: pointer;
}


.sign-form-ft .login-forg-ft
{
	display: inline-block;
	margin-left: 48.3%;
}
.sign-form-ft .login-forg-ft a {
	
	text-decoration: none;
	cursor: pointer;
	color:#3e3e3e;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-ms-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.sign-form-ft .login-forg-ft a:hover{
	
	color: #e77e01;
}
.login-acc-ft{
	
	margin-left: 30%;
	margin-top: 30px;
}
.login-acc2-ft{
	
	margin-top: 25px;
	margin-bottom: 50px;
	background-color: #FFF !important;
	color: #3e3e3e !important;
	border: 2px solid #3e3e3e !important;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-ms-transition:all 0.4s ease;
	transition:all 0.4s ease;

}
.login-acc2-ft:hover{
	
	background-color: #3e3e3e !important;
	color: #FFF !important;
	border: 2px solid #3e3e3e !important;

}
.clearfix
{
clear: both;	
}











/* End signin form */

/* Start footer section custom */

footer
{
	background:#3e3e3e;
	padding-bottom:10px;
	padding-top:5px;
}
footer .logo 
{
	height:80px;
	margin-top:10px;
}
footer .first p
{
	margin-left:10px;
	margin-top:15px;
	color:#fcfcfc;
	font-family:aspira;
	
	
}
footer .sec 
{
	margin-top:10px;
	
}
footer .sec ul 
{
	list-style:none;
}
footer .sec h3
{
	margin-left:40px;
	color:#fcfcfc;
	font-family:aspira;
}
footer .sec ul li 
{
	padding: 5px;
	padding-left:0px;
}
footer .sec ul li a
{
	font-size:18px;
	color:#c3c2c2;
	
	font-family:Aspira Light;
}
footer .sec ul li a:hover
{
	color:#fcfcfc;
}
footer .sec ul li a:hover 
{
	text-decoration:none;
	color:#fcfcfc;
}
footer .th
{
	margin-top:10px;
	font-family:aspira light;
	
}
footer .th h3
{
	color:#fcfcfc;
}
footer .th i
{
	padding:15px;
	padding-right:20px;
	font-size:18px;
	color:#2c2c2c;
}
footer .th .fa-facebook
{
	padding-left:0px;
	
}
footer .th .fa-facebook,footer .th .fa-twitter,footer .th .fa-linkedin-square
{
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-ms-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
footer .th .fa-facebook:hover
{
	color:#3b5998; 
}
footer .th .fa-twitter:hover
{
	color:#00aced;
}
footer .th .fa-linkedin-square:hover
{
	color:#007bb6;
}
.footer-down
{
	
	text-align:center;
	margin:auto;
	border-top:1px solid #c3c2c2;
	margin-top:20px;
}
.footer-down p
{
	color:#c3c2c2;
	margin:15px;
}

/* end of footer */


/* test */
.test{
	width: 100%;
	height: 1000px;
	background-color: black;
}